<footer>
    <div class="copyright">
        <p>TouristReview © 2018. All rights reserved</p>
    </div>
</footer>
<!--preloader-->
<div id="spinner-wrapper">
    <div class="spinner"></div>
  </div>
  
  <!-- Scripts
  ================================================= -->
  <script src="/assets/js/app.js"></script>
  <script src="/assets/js/control.js"></script>
  <script src="/assets/js/i18n.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/jquery.appear.min.js"></script>
  <script src="/assets/js/jquery.sticky-kit.min.js"></script>
  <script src="/assets/js/jquery.incremental-counter.js"></script>
  <script src="/assets/js/cropper.js"></script>
  <script src="/assets/js/script.js"></script>
</body>
</html>